.flex-2-col { display: flex; }
.flex-2-col .flex-item:first-child { padding-top: 180px; }

.carousel-content h2 { color: gainsboro; letter-spacing: 5px; }

.box-work { padding: 8px; }
.box-work:nth-child(2n) { background-color: #F2F2F2; }

.box-work p { font-style: italic; }
.box-work p::first-letter { font-size: 30px; }
.box-work p { color: #808080; }

.box-bg:hover { background-color: #87CEFA; }
.box-bg:hover h2 { color: #fff; font-weight: bold; }

.tm-nav-item:hover { background-color: #F5F5F5; }

.tm-team-description-container, .heading { position: relative; }

.tm-section-description:first-of-type { font-style: italic; color: #808080; }
.tm-section-description::first-letter { padding-left: 25px; font-size: 30px; color: #87CEFA; }

.tm-sidebar, .tm-content-box, .blocks { box-shadow: 0 0 10px rgba(0,0,0,0.5); }

.tm-banner { background: #f5f5f5; }
.tm-banner-inner { background:  #fff; }
.tm-banner-text::first-letter { color: #87CEFA; font-size: 30px; }

.padding-medium::after, .tm-content-box::after, .heading:after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 35px 260px 0 0;
    border-color: #87CEFA transparent;
}

.padding-medium ol li a { color: #000; }
.padding-medium ol li a:hover { color: #87CEFA; text-decoration: double underline; }
.padding-medium ol li a:visited { text-decoration: underline; }


.text::after {
    font-size: 12px;
    color: red;
    content: ' New';
    vertical-align: super;
}

.mandatory-field::after {
    content: '*';
    vertical-align : top;
    color: red;
}

.btn-primary {
    padding: 15px 60px;
    background-color: #fff;
    border: 1px solid #9FD8FB;
    color: #9FD8FB;
    border-radius: 0;
    transition: 0.3s;
    float: right;
}

.btn-primary:hover {
    transition: 0.3s;
    background-color: #9fd8ff;
    border-color: #9FD8fa;
    color: #fff;
}

@media print {
    .tm-sidebar, #about, .heading, .blocks, #ideas, #contact, .img-contact-us { display: none; }
    .tm-content-box { margin-bottom: 0; }
    .tm-Dooter { margin: 25px auto; }
    .tm-banner-inner { padding-top: 40px; padding-bottom: 40px; }
    .tm-team-description-container h2 { color: #2145FF; }
    
    .flex-item img { margin-top: 100px; margin-right: 10px; width: 220px; }

    .tm-footer::first-letter {
        color: #ACD7EA;
        font-size: 30px;
    }

    
    .padding-medium { padding: 0 40px; }
    .padding-medium::after { display: none; }
}