$reg-font: "Roboto", "Ubuntu", "Cantarell", Helvetica, sans-serif;
$bg-color: #fff;
$title-size: 26px;

$nav-color: #fff;
$nav-fontZ: 15px;

$header-bg-img: "../img/header_background_v1.jpg";
$header-bg-color: $bg-color;
$header-title-color: #fff;
$header-title-fontZ: 28px;
$header-btn-color: #01ACAC;

$toolbar-bg: $bg-color;
$toolbar-color: #000;

$section-h-color: #000;

$post-desc-color: red;

$article-bg: #EFEFEF;
$article-txt-size: 16px;
$article-txt-color: #000;
$artical-title-color: #01ACAC;
$artical-title-size: 20px;

$about-txt-color: #000; 
$about-txt-size: 16px; 

$line-color: #607D8B;
$hr-color: #01ACAC;
$btn-color: #01ACAC;
$form-txt-color: darken(#01ACAC, 6%); 
$form-txt-size: 14px;