$reg-font: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
$bg-color: #EFEFEF;
$title-size: 26px;

$nav-color: #FF5722;
$nav-fontZ: 18px;

$header-bg-img: "../img/header_background_v2.jpg";
$header-bg-color: $bg-color;
$header-title-color: #FF5722;
$header-title-fontZ: 32px;
$header-btn-color: #0401AC;

$section-h-color: #757575;

$post-desc-color: #BDBDBD;

$article-bg: #fff;
$article-txt-size: 16px;
$article-txt-color: lighter(#000, 10%);
$artical-title-color: #607D8B;
$artical-title-size: 24px;

$about-txt-color: #757575; 
$about-txt-size: 18px;

$line-color: #607D8B;
$hr-color: #BDBDBD;
$btn-color: #0401AC;
$form-txt-color: #607D8B;
$form-txt-size: 18px; 