/* reset css  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */

body {
    font-size: 16px;
    font-family: Arial;
}

hr {
    border: 1px solid #000;
}

.wrapper {
    margin: 150px auto;
    padding: 10px;
    width: 850px;
    overflow: hidden;
    border: 2px solid #000;
    box-sizing: border-box;
}

.todo-title {
    margin: 15px auto;
    text-align: center;
    font-size: 22px;
}

.subtitle-info {
    margin: 10px auto;
    text-align: center;
    color: red;
    display: none;
}

.add-block {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.list-input {
    margin: 0;
    padding: 5px;
    width: 700px;
    height: 15px;
    border: 2px solid #000;
}

.add-btn {
    font-size: 30px;
    cursor: pointer;
}

.addButton {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.list {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.list-item {
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkbox, .delete {
    display: flex;
    cursor: pointer;
}

.checkbox {
    width: 100%;
}

.checkbox p {
    margin-top: 5px;
    margin-left: 5px;    
}